<html>
    <head><title>
        <%= title %>
    </title></head>
<body>
<H1>playground</H1>
<ul>
    <!-- while rendering something to page then = used in ejs -->
    <% for(let i=0;i<5;i++){%>
        <li>
            <%= i %>
        </li>
        <%}%>
</ul>
</body>
</html>